@model Tikti.Models.SocCode

@{
    ViewData["Title"] = "Update SOC Code selected";
    Layout = "~/Views/Shared/LoggedIn.cshtml";
}
<br />
<h1 class="text-center" style="font-weight:400; font-size:2.5rem">
    "<strong>Review and Edit</strong>" <br /> SOC Codes
</h1>
<hr />
<form asp-action="Edit">
    <div class="row no_margin">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SocCode1" class="control-label"><br /></label>
                <select style="height:3rem" asp-for="SocCode1" class="form-control" asp-items="ViewBag.SocCode" id="wk"></select>
            </div>
        </div>
    </div>
    <div class="row no_margin">
        <div class="col text-center">
            <div class="form-group">
                <input type="submit" value="Review Next Step" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

