
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-lg-center text-light">Confirm Email</h1>
<h1 class="text-lg-center text-light">A confirmation E-mail has been sent to you. Please check your E-mail ID.</h1>

