@model Tikti.Models.RoleBenefitVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}

@*<div class="row align-items-center">*@
<br>
        <div class="text-center">
            <h1>Select Role Benefit</h1>
        </div>
        <hr />
        <div class="col-md-3" style="margin:auto; padding-top:2rem">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @for (int i = 0; i < Model.benefits.Count; i++)
                {
                    <div style="font-size:1.2rem">
                        @Html.CheckBoxFor(m => m.benefits[i].IsSelected)
                        @Html.LabelFor(m => m.benefits[i].BenefitName, Model.benefits[i].BenefitName)<br />
                    </div>
                    @Html.HiddenFor(m => m.benefits[i].BenefitId)
                }
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
@*</div>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
