@model Tikti.Models.RoleBenefit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}

<h1>Edit</h1>

<h4>RoleBenefit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleBenefitId" />
            <div class="form-group">
                <label asp-for="RoleOpportunity" class="control-label"></label>
                <select asp-for="RoleOpportunity" class="form-control" asp-items="ViewBag.RoleOpportunity"></select>
                <span asp-validation-for="RoleOpportunity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Benefit" class="control-label"></label>
                <select asp-for="Benefit" class="form-control" asp-items="ViewBag.Benefit"></select>
                <span asp-validation-for="Benefit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
