
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}

<h1 class="text-lg-center text-dark">Confirm Email</h1>
<h1 class="text-lg-center text-dark">A confirmation E-mail has been sent to you. Please check your E-mail ID.</h1>

