
@{
    ViewData["Title"] = "EmailConfirmed";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}

<h1 class="text-lg-center">Your E-mail ID has been confirmed Successfully..</h1>
<h5 class="text-md-center"><a asp-controller="OrgRegisters" asp-action="Login">Click Here to go to Login Page...</a></h5>

