
@{
    ViewData["Title"] = "LoggedIn";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}

@{
    ViewBag.Title = "Logged In";
}<h1> Welcome to TikTi.. The one stop solution for all you employment needs.</h1>


@*<a asp-controller="RoleOpportunity" asp-action="Create">upload</a>*@
<h4 class="text-center text-uppercase"><a asp-controller="SocCode" asp-action="Create">Upload Role Opportunity</a></h4>
