
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "Welcome to TikTi!!";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}


<h1> Welcome to TikTi... @ViewData["UserName"] </h1>
<h2>The one stop solution for all you employment needs.</h2>




<h4 class="text-center text-uppercase"><a asp-controller="SocCode" asp-action="Create">Upload Role Opportunity</a></h4>
<h4 class="text-center text-uppercase"><a asp-controller="OrgRegisters" asp-action="Index">Update Profile</a></h4>

