
@{
    ViewData["Title"] = "Approach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="main_header">TikTi’s Approach</h1>
    <p class="paragraph">We believe the current approaches in the recruitment marketplace are broken.</p>
    <p class="paragraph">
        Organizations that are doing the hiring are buried with resumes and cover letters and wasting tons of time and money looking at candidate profiles that don’t fit.  It’s hard to figure out what’s real and who’s “gaming” their resume and … it simply takes way too long to get the right people on board.</p>
    <p class="paragraph">
        Job Seekers are frustrated with the hundreds of different places to apply for jobs and they are fed up with responding to roles they believe they fit only to be overlooked or treated like they didn’t exist.  You know … that “big black, no communications hole” with no feedback regarding their candidacy and no closure when they don’t get the role.
    </p>
    <p class="paragraph">
        <b>At TikTi, we don’t want Job Seekers to apply to jobs – We want to reach out when we have a job that fits You.</b>
    </p>
    <p class="paragraph">
        TikTi’s approach simplifies the process for everyone, while making the matching process a whole lot better. This is the new way to recruit.
    </p>
    <p class="paragraph">
        Our key ingredients are transparency, communication and science.
    </p>
    <p class="paragraph">
        Organizations indicate what the salary level is, and what the key competencies required for that role are and what they offer their teammates.
    </p>
    <p class="paragraph">
        Job seekers indicate what their salary need is, along with their top competencies and things like where they are willing to work and what kind of culture is important to them.
    </p>
    <p class="paragraph">
        Then the TikTi algorithm goes to work – finding the best matched candidates for the role. Our top job seeker matches are given information to indicate their interest in that role. When they do, they are highlighted to the organization where they can indicate an interest.  When that initial match is confirmed, the organization can then move swiftly into their recruiting efforts – phone interviews, assessments, in-person interviews. And throughout the process TikTi ensures communication with everyone that has been tapped in the process so everyone knows where you are.
    </p>
    <p class="paragraph">
        And for Job Seekers that don’t get matched, we can provide feedback indicating where you have been close to a match in the past and the job seeker can decide is their salary level needs to change, or maybe they need to be willing to work outside of downtown or maybe they need some additional skills. TikTi can provide the feedback you never get.
    </p>