
@{
    ViewData["Title"] = "ContactForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-center P_head">Contact Form</h1>
<hr />
<div class="container">
    <div class="row">
        <section class="col-12">
            <div class="card">
                <div class="card-header" id="Introductionheading">
                </div><!-- card header -->
                <div class="card-body" style="margin: 0 3rem 2rem 3rem !important">
                    <p class="paragraph text-center">
                        <b>Your Comments and Concerns.</b>
                    </p>
                    <p class="paragraph text-center">
                        For further information relating to the legal issues contained in these Terms or problem reports regarding this service,
                        <br />please contact using the following:
                    </p>
                </div>
            </div><!-- card -->
            <h6 class="text-center"><b><i>Please contact: support@tikti.io</i></b></h6>
            <h6 class="text-center">(519)-(* * *)-(* * * *)</h6>
        </section>
    </div>
</div>

