
@{
    ViewData["Title"] = "LearnMore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="main_header">Learn More</h1>
    <p class="paragraph">
        We know the current recruiting processes are broken for everyone involved, so we created TikTi.
    </p>
    <p class="paragraph">
        The word TikTi means <b>fit, match, go together</b>.
    </p>
    <p class="paragraph">
        With a team that brings HR and Data expertise from 3K+ organizational hires and 30K+ job seeker interviews, we understand how to find the best matches for the role.
        Our focus is on Small-medium sized (SMB) organizations (< 500 employees) and developer/programmer/IT roles (we will grow into many more roles as we continue to grow).
    </p>
    <p class="paragraph">
        Our goal is to provide a better Job Seeker experience and that you never have to look for a job again, and a better organizational experience by reducing time and cost to recruit by providing well matched candidates quickly.
    </p>


