
@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">PrivacyPolicy</h1>
<br />
<h2 class="text-center">Effective date: July 1, 2020</h2>
<h3 class="text-center">TIKTI.IO, INC. PRIVACY POLICY</h3>
<br />
<div class="container">
    <div class="row">
        <section class="col-12">

            <div class="accordion" id="servicesaccordion">
                <div class="card">
                    <div class="card-header" id="Introductionheading">
                        <h4 class="mb-0">
                            <a href="#Introduction"
                               data-toggle="collapse"
                               aria-expanded="true"
                               aria-controls="Introduction">Introduction</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="Introduction"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="Introductionheading">
                        <div class="card-body">
                            <p class="privacy_pad">TikTi, Inc. (and referred to herein as “we”, or “us”) is committed to providing transparency regarding use of your information. We collect personal information by lawful and fair means with your knowledge and where appropriate, your consent. We consider information privacy throughout our product lifecycle - from inception, to production, and ongoing support. The principal purpose of this Privacy Policy (the “Policy”) is to describe how we collect, use, protect, and disclose personal information online and offline.</p>
                        </div>
                    </div><!-- collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="AboutthisPolicyheading">
                        <h4 class="mb-0">
                            <a href="#AboutthisPolicy"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">About this Policy</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="AboutthisPolicy"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="AboutthisPolicyheading">
                        <div class="card-body">
                            <p>By visiting or using any part of the Services you agree that your information will be processed as described in this Policy. Please note, this Privacy Policy does not apply to information collected by our partners, sites that link to or are accessible from our Services, and our Customers that have their own privacy policies you may be subject to.</p>
                            <p>This Privacy Policy is incorporated into the TikTi.io Terms of Use. Definitions not explicitly defined herein shall retain the meaning as prescribed in the Terms of Use. Any dispute related to privacy is subject to the Terms of Use and this Policy, including limitations on liability.</p>
                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="Who“You”Areheading">
                        <h4 class="mb-0">
                            <a href="#Who“You”Are"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false">Who “You” Are</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="Who“You”Are"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="Who“You”Areheading">
                        <div class="card-body">
                            <p>You are a “Customer” if you are an employer or agent of an employer that accesses our Services to post job solicitations, recruit, hire, onboard personnel, evaluate employee performance, train employees, or other applicable HR services provided by us. You are “Personnel” if a Customer stores information about you in a Service, including if you are a Job Applicant. You are a “Job Seeker” if you hold a Job Seeker account with one or more of our Services for the purpose of receiving and responding to job solicitations. Once you submit a job application to a Customer, you are considered a “Job Applicant” for that Customer. You are a “Visitor” if you are just visiting one of our Services.</p>
                        </div>
                    </div><!-- collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="InformationWeCollectAboutYouheading">
                        <h4 class="mb-0">
                            <a href="#InformationWeCollectAboutYou"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false">Information We Collect About You</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="InformationWeCollectAboutYou"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="InformationWeCollectAboutYouheading">
                        <div class="card-body">
                            <p>We require certain personal information in order to provide you Services, automatically collect information during your usage, and collect other information about you from other sources. The information we collect depends on the context – who “you” are in a given interaction and how you are using our services. In this Section we set out general categories of personal information and data we may collect and process.</p><br>

                            <h5> Information Provided by You</h5>
                            <p>
                                We collect information from you directly when you visit our Services. For example, certain information we collect is necessary to provide the Services to you or our Customers, such as the information collected with you create an account, submit a job application, or information used to interact with you regarding support or inquiries about our Services. We also collect information from you to register for text message or email communications, or when communicate through the Services.
                            </p>
                            <p><strong>The categories of information we collect include the following:</strong></p>
                            <h6>Inquiry and Contact Data:</h6>
                            <p>We process information contained in or relating to any inquiry and contact information you submit to us regarding the Services, support, in response to a survey, or interaction with our sales team, including: name; email; phone number; address and related contact data. If you are a Customer or one of our partners, we collect Contact Data of primary users or designated contacts to administer the relationship or for other specified purposes.</p>
                            <h6>Account Data:</h6>
                            <p>We may process your account data which may include your name, email address, unique account ID, password, and account activity or other security related information.</p>
                            <h6>Job Application and Profile Data:</h6>
                            <p>We may process personal information within the job applications you send to our Customers, and information processed throughout the relationship you maintain with your potential, current, or former employer (our Customer). Typical personal information found in a job application or within a user Profile may include name, address, e-mail, telephone number, resume, driver’s license, work experience and performance data, education history, age, gender, race, information related to your health or financial information, marital status, military or veteran status, your signature, or and any other supplemental information added at your discretion or requested by a Customer</p>
                            <h6>Transaction and Billing Data:</h6>
                            <P>We allow payment processing companies to process information relating to transactions, including purchases of Services, that you enter on the Services or payment processor website, or to facilitate processing of payroll and tax services. If you make an online payment to us through a payment processing company, we require you to provide your billing details, a name, address, email address and financial information corresponding to your selected method of payment (e.g. a credit card number and expiration date or a bank account number).</P>
                            <h6>Voice Data:</h6>
                            <P>With your permission we collect voice recordings when you interact with our support teams to diagnose issues, our product teams to improve our services, our implementation teams during implementation of our Services, and our sales teams while providing demos of our Services.</P>
                            <h6>Publication Data:</h6>
                            <P>We may process information that you post for publication on our website or through our Services (e.g., feedback comments, information you provide to our support teams, videos, photographs, images).</P>
                            <h6>Contests and Survey Data:</h6>
                            <P>When you complete any forms, respond to a survey or questionnaire, or participate in a contest, we collect the personal data you provide.</P>
                            <h6>Resume Data:</h6>
                            <P>We collect information to evaluate you for a job opening with us, including your name, employment and education history, and references.</P><br>

                            <h5>Information Collected Automatically</h5>
                            <p>
                                With the help of our Service Providers, we also automatically collect information about you and your device and how you interact with our Services.
                            </p>
                            <p><strong>Categories of information collected automatically include the following:</strong></p>
                            <h6>Usage Data:</h6>
                            <p>
                                We may process data about your use of our Services. This information may include webpages visited, what you click on, features you use, how often and when you use features, e-mails you view, and the Services you purchase.
                            </p>
                            <h6>Location Data:</h6>
                            <p>
                                We collect data about your device’s location by tracking the IP address or data that indicates a country, province/state, city or postal code.
                            </p>
                            <h6>Device Data:</h6>
                            <p>
                                We may process information about your device or how you access our Services. Device Data may include Internet protocol (IP) address, browser type, device type, software and hardware attributes, your operating system, system and performance information, cookie date/time stamp, and search terms entered on the site.
                            </p>
                            <h6>Tracking Data:</h6>
                            <p>
                                We use tracking services that employ logs, cookies, pixel tags, and embedded scripts to collect user statistics and usage about visitors of our Services and receipt of communications.
                            </p>
                            <h6>Log Data:</h6>
                            <p>
                                Our servers maintain log files that document events that occur during interaction with our Services and servers. Logs include information about the nature of each access, IP address, ISP, files viewed, Account Data, content changes in certain cases, operating systems, device type and timestamps.
                            </p>
                            <h6>Cookie Data:</h6>
                            <p>
                                We use cookies to improve your online experience and tailor content to you. For more information on Cookies see the “Cookies” section below.
                            </p>
                            <h6>Pixel Tags:</h6>
                            <p>
                                We use pixel tags (aka “web beacons”) in combination with cookies that are embedded in our emails and webpages. Pixel tags send information about your use to our servers.
                            </p>
                            <h6>Embedded Scripts:</h6>
                            <p>
                                We use embedded scripts to collect information about how you interact with our Services.
                            </p><br>

                            <h5>Information from Other Sources</h5>
                            <p>
                                We also receive information about you from other sources. For example, we receive information about updates from payment processors regarding your purchases, receipts and analytics for text communications you send and receive, and information you provide to, or automatically collected by, our marketing page hosting provider.
                            </p>
                            <p><strong>Categories of information collected from other sources include the following:</strong></p>
                            <h6>Partners</h6>
                            <p>
                                We collect and use information collected by integrators, and from partners for joint product and marketing opportunities. This information may include Account, Transaction, Billing, Profile, and Tracking Data. Integrations may include payment processing companies, communication providers, performance or analytics providers, or HR related services you choose to integrate with our Services.
                            </p>
                            <h6>Public sources</h6>
                            <p>
                                We collect information from publicly accessible websites and government sources.
                            </p>
                        </div>
                    </div><!-- collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="OurUseofYourInformationheading">
                        <h4 class="mb-0">
                            <a href="#OurUseofYourInformation"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Our Use of Your Information</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="OurUseofYourInformation"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="OurUseofYourInformationheading">
                        <div class="card-body">
                            <p>
                                We collect and process information in order to fulfill our contractual responsibility to deliver you the Services, fulfill your requests, or pursue our legitimate interests or our business and commercial purposes. Your information will only be collected and used for purposes stated herein, where you provide additional consent, or as required by law or regulation - including national security or law enforcement requirements.
                            </p>
                            <p><strong>Our purposes for using your information consist of the following:</strong></p>
                            <ul>
                                <li>to process and manage our Services including to facilitate your use of such Services, maintain your user preferences, to help others find your profile and make your Profile viewable by our Customer (your potential employers), transfer your job applications to our Customers, post for publication on the Services, and facilitate your HR processes</li>
                                <li>to communicate with you and send you information as part of the Services regarding your requests for information, contests you entered into, newsletters and surveys, technical notices, security alerts, support and administrative messages, significant updates to the Services or policies, as well as relevant notifications regarding your account or job application, job suggestions, or the status of your background check or assessment (to learn how to manage these communications, see “Your Data Rights” below)</li>
                                <li>allow Customers, Job Applicants, and Personnel to communicate with one another</li>
                                <li>marketing our products and features (for as long as you do not opt-out), measure the performance of email messaging and promotional campaigns, learn how to improve email deliverability and open rates, and improve our business activities</li>
                                <li>to provide support, troubleshoot and diagnose problems with our Services or servers, fix bugs, ensure the security of our Services, maintain back-ups of our databases, optimize the Services for particular devices and browsers, and ensure the Services are accessible</li>
                                <li>make improvements, enhancements, or modifications to the Services through data analysis and research of usage trends, feedback sessions, and analysis of enhancements contained in or relating to any communication you send us</li>
                                <li>make payments through the Services, bill you for use of our Services (if applicable), send notices regarding status of payments, forward payroll and tax information to partners to facilitate processing, and to ensure the Services you pay for those you have access to</li>
                                <li>track your preferences and behavior to identify and understand trends in the various interactions with our services and internal system administration, determine country of origin, identify clickstreams that led you to our Services, and make personalized recommendations of relevant job opportunities, features, and other content</li>
                                <li>ensure you can use our Services in conjunction with other services and facilitate your use of integrations</li>
                                <li>to verify your identity or confirm your location</li>
                                <li>to conduct research on social, economic and public sector hiring trends</li>
                                <li>fulfill other business activities at your direction</li>
                                <li>to respond to legal requests or prevent fraud, enforce our legal agreements where applicable, prevent potentially illegal activities, and screen for and prevent undesirable or abusive activity</li>
                            </ul><br>
                            <p><strong>We also use your information with your consent, including the following:</strong></p>
                            <ul>
                                <li>make personalized recommendations of content and features</li>
                                <li>to help others find your profile and make your Profile viewable by our Customer (your potential employers), transfer your job applications to our Customers</li>
                                <li>communicate with you and send you information as part of the Services regarding your requests for information, contests you entered into, newsletters and surveys, significant updates to the Services or policies, as well as relevant notifications regarding your account or job application, or the status of your background check or assessment. Please note, you cannot opt-out of receiving service messages from us, including security and legal notices.</li>
                            </ul><br>
                            <p>
                                We use your data to produce aggregated data that does not identify you in order to provide Customers with useful and relevant insights, build features, improve our Services and to develop de-identified data services. For instance, we combine information about you from your use of the Services with other information to make inferences about your job opportunities or Customer HR processes. We may produce the insights with the help of independent sources and processors. This Privacy Policy does not apply to instances where we aggregate or de-identify personal information.
                            </p>
                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="InformationWeDiscloseheading">
                        <h4 class="mb-0">
                            <a href="#InformationWeDisclose"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Information We Disclose</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="InformationWeDisclose"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="InformationWeDiscloseheading">
                        <div class="card-body">
                            <p>
                                We share information with other parties for the purposes stated herein or as required by law. The following categories are the entities we’ve shared information with, including over the past year.
                            </p><br>
                            <h5>Customers</h5>
                            <p>
                                We disclose information to our Customers. For instance, when a Job Seeker makes their profile information available to one of our Customers as a Role Match, we will share information with that Customer in order to facilitate the hiring process.
                            </p>
                            <p>
                                Please note: Information submitted to Customers are generally controlled and managed by the Customer. In those instances TikTi is only processing that information on behalf of the Customer. Our legal obligations as a processor are set out in our Customer contracts and policies. If you make your Profile viewable to Customers, provide information to show interest in a job, or reply to a message from a Customer, you consent to disclosing your information to Customers for their Personnel to complete recruitment and hiring processes and to contact you, including for future job opportunities, to respond to your support, product, and transaction inquiries. This Policy does not describe the processing of your information by our Customers, and we encourage you to visit the applicable Customer’s privacy policy for information about their privacy practices. Any questions you may have relating to the information processing by our Customers and your rights related to that processing should be directed to the Customer, not to TikTi.
                            </p><br>
                            <h5>Affiliates</h5>
                            <p>
                                We disclose information to our affiliates with our Customer’s consent in order to facilitate any Service transition or implementation services.
                            </p><br>
                            <h5>Service Providers</h5>
                            <p>
                                We share information with services providers hired to provide services on our behalf. For instance, we use service providers to facilitate our support services, email, web hosting, credit card payments, deliver and help us track our marketing and advertising content, deliver payroll processing and disbursements, coordinate our customer conferences, and manage our sales and customer relations. We share information with analytics and advertising companies that may act as our processor and a controller in other instances. We work with other entities to perform research, under controls that are designed to protect your privacy. We publish or allow others to publish insights, presented as aggregated or de-identified data. Where we share information with a party that is not our service provider, such sharing is either at your direction or the direction of our customers. For example, we share information with background check providers if a job applicant consents and we are instructed to do so by our Customers.
                            </p>
                            <p>
                                We do not sell information in the traditional sense; however, should an activity we undertake constitute a “sale” under the expanded definition of “sale” within the California Consumer Privacy Act, California consumers have the right to opt-out of the sale of your personal information. Please see “Your Data Rights” and “Your California Privacy Rights” for more information on how to exercise your right to optout.
                            </p><br>
                            <h5>Other parties when you give your consent</h5>
                            <p>
                                We may also share personal information where you provide your consent or post your information publicly. Where required by law, additional consent is obtained before personal information is transferred to us or forwarded to other parties.
                            </p>
                            <p>
                                We share information if you or a Customer chooses to use an integration in conjunction with our Services, to the extent necessary to facilitate that use. Integrations may include payment processing companies, communication providers, or other independent services Customer chooses to utilize.
                            </p>
                            <p><strong>The following integrations may receive personal information from us:</strong></p>
                            <ul>
                                <li>We may disclosure your information for background check and assessment services. This data may include your name, zip code, phone number, employment history, education history, and email address.</li>
                                <li>Financial transactions relating to our website and services are handled by our payment services providers. We will use and share transaction data with our payment services providers only to the extent necessary for the purposes of processing your payments and dealing with complaints and queries relating to such payments and refunds.</li>
                                <li>We may share non-personal information with affiliated partners and use machine learning techniques on tracking and metadata in order to provide Customers with useful insights from the data they collected using Services, to build or enhance features, improve Services, and improve infrastructure and security.</li>
                            </ul>
                            <p>
                                During your use of the Services you may have the opportunity to visit or link to other websites, including websites by third parties unaffiliated with us. We have no relationship or control over unaffiliated websites. These websites might collect personal information about you, and you should review the privacy policies of such other websites to see how they treat your personal information. Use of such websites are at your own risk.
                            </p><br>
                            <h5>Mergers, Acquisitions, Dissolutions</h5>
                            <p>
                                We may transfer or disclose information to another entity who acquires or may acquire any or all of our business units, whether such acquisition is by way of merger, consolidation or purchase of all or a substantial portion of our assets, or bankruptcy.
                            </p><br>
                            <h5>Other third parties where required by law</h5>
                            <p>We also share personal information or data in order to: meet any applicable law, regulation, legal process or enforceable governmental request; enforce applicable policies, including investigation of potential violations; detect, prevent, or otherwise address fraud, security or technical issues; protect against harm to the rights, property or safety of our users, the public or to TikTi and/or as required or permitted by law; protect your vital interests or the vital interests of another natural person; and where disclosure is necessary for establishment, exercise or defense of legal claims or where there is reasonable belief that disclosure is required by law or regulations</p>
                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="YourDataRightsheading">
                        <h4 class="mb-0">
                            <a href="#YourDataRights"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Your Data Rights</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="YourDataRights"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="YourDataRightsheading">
                        <div class="card-body">
                            <p>You can review and enforce your personal information rights through your account, communications you receive from us, third party mechanisms, or with the assistance of our support team.</p>
                            <p>Our Services incorporate privacy controls which allow you to specify and limit how we process your information, as well as update and remove information we retain about you.</p>
                            <p>In certain circumstances you have the right to have inaccurate personal information about you rectified. You can modify or delete personal information within your account at any time by logging in to your applicable account and following the prompts to either “update my profile” or “delete my profile.”</p>
                            <p>You can change your email preferences to control notifications you receive from us or unsubscribe from a notification by following instructions contained within the notification itself, your account settings, or using your email provider preferences. For text message notification you can reply with “OPTOUT” to stop receiving texts.</p>
                            <p>You can restrict cookies by using your browser settings or other cookie manager provided by us or another entity.</p>
                            <p>You may have the right to confirmation as to whether or not we process your personal information and, where we do, access to the personal information. To see whether information on you is retained on our servers, please visit click here. Certain users are entitled to request copies of their personal information held by us. You can print a copy of your Profile information using your web browser and download your attachments at any time by logging into your account and following the download process.</p>
                            <p>For inquiries related to resetting your account, or if you believe someone else has gained access to your account or provided us your contact information, please contact support at: support@TikTi.io If you have a valid data subject request, including a request to restrict or limit our use of your information, you may either contact support at privacy@TikTi.io or fill out a Data Subject Request Form if available.</p>
                            <p>To the extent the basis for our processing of your personal information is consent, you have the right to withdraw that consent at any time by using the privacy controls in your settings, within certain contacts you receive, by deleting personal information within your Profile, or by deleting your account. If you revoke your consent by deleting your account, your Profile will be removed from our Job Seeker server; however, revoking your consent will not remove applications you previously submit to Customers or our aggregated and de-identified data.</p><br>
                            <h5>Your data rights for information you submit to our Customers when matched</h5>
                            <p>Upon consent of your data to be available to a matched position, you are making your information available to one of our Customers (your potential, current or prior employer), your information is controlled by that Customer. In this regard, we are a data processor for Job Seeker and Personnel personal information Customers’ maintain in our servers, and we maintain limited rights to such data as permitted by our Customers’, to process as necessary to deliver the Services or support to Customers’, to ensure safety and security of our Services, where necessary to protect our interests or the public interest, or as required by law.</p>
                            <p>For these reasons, we are not in a position to directly handle data requests for data controlled by Customers. Customers may store personal information they receive from you on our servers or their own storage facilities. Customers control the types of personal information requested from you, how it’s used, who can access it, and how long they retain this personal information. Your data rights are subject to Customer internal policies and applicable law. You should contact the Customer regarding personal information they may hold about you and to exercise any data rights you may have. We will cooperate with such inquiry to the extent it is permitted under our confidentiality and privacy obligations.</p>
                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="RetentionandRemovalheading">
                        <h4 class="mb-0">
                            <a href="#RetentionandRemoval"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Retention and Removal</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="RetentionandRemoval"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="RetentionandRemovalheading">
                        <div class="card-body">
                            <p>We retain your personal information for as long as your account is considered active, to provide you or our Customers our services, meet regulatory requirements, resolve disputes, investigate security incidents, prevent fraud and abuse, protect your vital interests or the vital interests of another natural person, enforce our contractual agreements, or fulfill your request to “unsubscribe” from messages or exercise your data rights</p>
                            <p>Our retention policies and procedures are designed to help ensure our compliance with legal obligations and allow Customers to comply with their own record retention requirements. We implement retention controls within the Services that Customers utilize to control their data retention periods.</p>
                            <p>For personal information we determine the purposes for and means by which it is processed, such information will not be kept for longer than necessary for the purpose, when no longer relevant, or upon permissible request, and will be appropriately disposed in a manner designed to ensure it cannot be reconstructed or read.</p>
                            <p>Upon deletion of a Job Seeker account or any data point within such account, it will be removed from our Job Seeker database subject to the remainder of this section; however, matches you previously agreed to with Customers will persist until Customer disposal. Job Seekers should contact the Customer they sent the application to if they seek enforcement of eligible data rights in that application. We may retain de-identified information after your account has been closed.</p>
                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="CookiesandsimilarTrackingTechnologiesheading">
                        <h4 class="mb-0">
                            <a href="#CookiesandsimilarTrackingTechnologies"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Cookies and similar Tracking Technologies</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="CookiesandsimilarTrackingTechnologies"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="CookiesandsimilarTrackingTechnologiesheading">
                        <div class="card-body">
                            <p>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser and device you use to access our Services. The identifier is then sent back to the server each time the browser requests a page from the server.</p>
                            <p>Cookies may be either “persistent” cookies or “session” cookies. A persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</p>
                            <p>
                                We and our partners use cookies on our Services. Insofar as those cookies are not necessary for the provision of our Services, or the legitimate interests of delivering and optimizing our Services, we receive your consent to use of cookies when you first visit our Services.
                            </p>
                            <p><strong>When your browser or device allows it, we use both session cookies and persistent cookies for the following purposes:</strong></p>
                            <ul>
                                <li>Authentication to identify you when you visit our Services, as you navigate our Services, to confirm whether you are currently logged in, and determine if an occurrence affects you.</li>
                                <li>Metrics to determine how you use the Services, what features you utilize and how often, how much time you spend on the Services and features, and other details about the hiring and HR process. This data is aggregated and anonymized.</li>
                                <li>Personalization to store information about your preferences and personalize our Services to you, including to supply Customers with details about their hiring processes, and provide job recommendations to Job Seekers and Customers based on their past interest.</li>
                                <li>Security to protect user accounts, including preventing fraudulent use of login credentials and to protect our Services generally.</li>
                                <li>Advertising and feedback to determine whether our advertising and feedback inquiries are received, opened, if the content or campaign is effective, and to provide you more specific content about Services we or our partners offer.</li>
                                <li>Analysis to help us analyze the use and performance of our Services, and display different versions of features or content, all of which helps us determine what parts of our Services need improvement and which ones you enjoy most (which may include marketing content).</li>
                            </ul><br>

                            <p>Other data gathering mechanisms, such as web beacons, HTML Storage Objects, and web tags, are used by us and our service providers to gather more specific information on your use. A web beacon (also called a web bug or clear GIF) is a graphic on a webpage or in an email message that is designed to monitor who is reading the page or message. Web beacons are often invisible because they are typically only 1-by-1 pixel in size. Web beacons are often used alongside cookies to track activity. Web beacons may be used to add information to a profile about a site visited, provide an independent accounting of how many people have visited a website, gather statistics about usage, among other things. HTML Storage Objects are program code that collects information about your activity on our Services. The HTML is temporarily downloaded onto your device while you are connected to our Online Services.</p>

                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="DataSecurityandIntegrityheading">
                        <h4 class="mb-0">
                            <a href="#DataSecurityandIntegrity"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Data Security and Integrity</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="DataSecurityandIntegrity"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="DataSecurityandIntegrityheading">
                        <div class="card-body">
                            <p>We implement physical, technical, and administrative safeguards designed to maintain data accuracy, integrity, and security, prevent unauthorized access, and facilitate correct use of personal information. These safeguards include limiting access to data, storing personal information on secure servers and computers, encrypting personal information at rest and in transit, periodically testing our security technology, and training our employees in information security.</p>
                            <p>In addition, we seek to maintain contractual data security, confidentiality, and privacy obligations with our partners and vendors, and our employees that have access to personal information are subject to access, use, and confidentiality policies. Only authorized employees with a reasonable need related to their job duties have access to Customer and Job Seeker personal information. Employees who violate our policies are subject to disciplinary action, up to and including termination. More information about our security controls can be found in our security statements.</p>
                            <p>Although we maintain the controls listed herein, transmission of data is not without risk and we complete security of your information cannot be guaranteed. Please note, you are responsible for keeping your username and password secret at all times.</p>
                            <p>In the event we believe the security of your personal information in our possession or control may be compromised, we may seek to notify you by e-mail and you consent to our use of e-mail as a means of such notification.</p>

                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="InformationonChildrenheading">
                        <h4 class="mb-0">
                            <a href="#InformationonChildren"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Information on Children</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="InformationonChildren"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="InformationonChildrenheading">
                        <div class="card-body">
                            <p>These Services are not directed at children under the age of thirteen (13) and we do not knowingly collect personal information from children under the age of thirteen (13). If we become aware that we have inadvertently received personal information from a person under the age of thirteen (13), we will delete the information from our records. If you believe that we have collected personal information from a child under 13 without parental consent, you may report this to us at privacy@tiktio.io.</p>
                            <p>If you are a California resident under 18 years old, you have the right to remove information you have posted to our Services. Please contact us at privacy@tikti.io and describe what information you’ve posted that you now want removed. We will use reasonable efforts to remove such information in compliance with the law and our other obligations stated herein. We do not sell the personal information of consumers we actually know are less than 16 years of age, unless we receive affirmative authorization from either the consumer who is at least 13 but not yet 16 years of age, or the parent or guardian of a consumer less than 13 years of age.</p>

                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="YourCaliforniaPrivacyRightsheading">
                        <h4 class="mb-0">
                            <a href="#YourCaliforniaPrivacyRights"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Your California Privacy Rights</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="YourCaliforniaPrivacyRights"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="YourCaliforniaPrivacyRightsheading">
                        <div class="card-body">
                            <p><strong>If you are a California resident, you have additional data rights including:</strong></p>
                            <ul>
                                <li>Right to notice of collection</li>
                                <br>
                                <ul>
                                    <li style="list-style-type:none;">
                                        We’ve provided details on what information is collected about you in Section 4 “Information We Collect About You”. However, to ensure compliance with CCPA, the following categories of information as defined by the CCPA have been collected over the past year:
                                        <ul>
                                            <li>Direct identifiers such as your name, User ID, and email.</li>
                                            <li>Commercial information such as your transactions and purchases.</li>
                                            <li>Employment and education history information including when you approve a job match through our services.</li>
                                            <li>Demographic data including your race, ethnicity, gender, marital status and any other demographic information requested by our Customers.</li>
                                            <li>Internet or other electronic network activity including your search history on our job board, analytics regarding your use, and device identifiers for location and security.</li>
                                            <li>Audio and electronic data including your signature and voice recordings collected with your consent while speaking to our support, sales, or product teams.</li>
                                            <li>Information inferred and derived from other categories to determine your preferences and trends.</li>
                                        </ul>
                                    </li>
                                </ul>
                                <br />
                                <li>Right to notice of your data rights</li>
                                <br>
                                <li>
                                    Right to opt out of sale (“Do Not Sell My Information”)
                                    <ul>
                                        <br>
                                        <li style="list-style-type:none;">TikTi may allow select companies to place tracking technologies like cookies on our sites, which allow those companies to receive information about your activity on our Services. The companies may use that data to serve you more relevant ads on our sites or others. Sharing data for online advertising like this may be considered a “sale” of information. California consumers have a right to opt-out of these sales. You have control over whether these technologies work on your devices. You can disable them using browser Do Not Track features or Cookie Settings provided by us.</li>
                                    </ul>
                                </li>
                                <br />
                                <li>Right to know the categories of personal information collected about you and the business or commercial purpose of collection, the categories of collection methods and sources, categories of entities your information is sold or disclosed for a business purpose or disclosed to third parties for a business purpose - as well as the purpose of such disclosure (provided in the preceding sections of this Privacy Policy)</li>
                                <br>
                                <li>Right to access certain specific data fields stored about you and the right to delete such data (subject to exceptions)</li>
                                <li>Non-discrimination on price or our Services based on your exercise of data rights (subject to exceptions)</li>
                                <br>
                                <li>Right to have an authorized agent exercise your rights on your behalf. Note that we will require written proof of the agent’s permission to do so and will verify your identity directly.</li>
                                <br>
                                <li>Right to receive notice of any financial incentives we provide in exchange for the sale or use of your information.</li>
                                <br>
                            </ul>
                            <p>To exercise these rights, you can either contact our support team at either privacy@tikti.io or submit a request through our Data Subject Request Form, if available. If you exercise your rights through emailing our support teams, please title the email “California Privacy Rights Request”, and within the body of the email specify what right you seek to invoke. Please note, if we cannot verify your identity we may deny certain data right requests.</p>
                            <p>California Civil Code Section 1798.83 permits our visitors who are California residents to request certain information regarding our disclosure of personal information to third parties for the third parties’ direct marketing purposes. To make such a request, please contact us at privacy@tikti.io.</p>
                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="YourRightsandControlunderEUGDPRheading">
                        <h4 class="mb-0">
                            <a href="#YourRightsandControlunderEUGDPR"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Your Rights and Control under EU GDPR</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="YourRightsandControlunderEUGDPR"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="YourRightsandControlunderEUGDPRheading">
                        <div class="card-body">
                            <h5>Data Controllers and Processors</h5>
                            <p>Our Customers use our Services to post job opportunities and evaluate Job Applicants. In conducting these activities, the Customer maintains control over what information is collected, how it is used, how long it is retained, and who it is disclosed to. For purposes of the EU GDPR, the Customer is considered a data controller in these respects and TikTi is a data processor. In other instances, such as when TikTi uses cookies or sends you Contact about our Services, TIKTI will determine the means and purpose of processing.</p><br>

                            <h5>Lawful Basis for Processing</h5>
                            <p>
                                <strong>For personal information subject to GDPR, we rely on multiple legal bases for processing, including:</strong>
                            </p>
                            <ul>
                                <li>Consent (which can be revoked by utilizing privacy controls, deleting Profile or Account Data, or contacting support).</li>
                                <li>When processing is necessary to perform a contract (e.g. delivering you the Services).</li>
                                <li>Legitimate business interests such as developing the Services, marketing new features or products, proper administration of our website and business, ensuring safety and security.</li>
                                <li>Where necessary to protect vital or public interests.</li>
                                <li>As required by law.</li>
                            </ul><br>

                            <h5>EU Data Subject Rights</h5>
                            <p>
                                European residents or individuals whose information we receive under the EU-US Privacy Shield have legal rights to determine whether we hold personal information about them, to access personal information we hold about them, and to obtain its correction, update, amendment, or deletion in appropriate circumstances.<br>
                                <strong>In particular, your rights may include:</strong>
                            </p>
                            <ul>
                                <li>Data Access Rights</li>
                                <li>Right to Restrict Processing</li>
                                <li>Right of Rectification</li>
                                <li>Right to be Forgotten</li>
                                <li>Right to Object to Processing</li>
                                <li>Right to Withdraw Consent</li>
                                <li>Data Portability Rights</li>
                            </ul><br>
                            <p>Some of these rights may be subject to exception and limitation. In any case, we will respond to your request to exercise these rights within a reasonable time but no later than within 30 days of receiving a request. To request to exercise your rights, you may contact us at privacy@tikti.io Some of the rights are complex, and you should read the relevant laws and guidance from the regulatory authorities for a full explanation of these rights. You may also have the right to make a GDPR complaint to the relevant Supervisory Authority. A list of Supervisory Authorities is available here: https://edpb.europa.eu/about-edpb/board/members_en </p>
                            <p>If you visited our website and you want to exercise any of the above rights, please contact our support team or privacy team at the contacts listed herein. If your request is for the right to be forgotten as it relates to our use of cookies, you can achieve this by clearing the cookies in your browser settings.</p>

                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="RighttoReviseheading">
                        <h4 class="mb-0">
                            <a href="#RighttoRevise"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Right to Revise</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="RighttoRevise"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="RighttoReviseheading">
                        <div class="card-body">
                            <p>We reserve the right to revise our Privacy Policy to reflect changes in our online information practices or to comply with the law by publishing a new version on our website. In circumstances where we materially change the way in which we collect or use personal information, we materially change the terms of this Privacy Policy, or where personal information is no longer used consistently with a previously named purpose, we will provide notice and publish the new version on our website.</p>
                            <p>You should periodically check this page to remind yourself of the rights herein.</p>
                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="ContactDetailsheading">
                        <h4 class="mb-0">
                            <a href="#ContactDetails"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Contact Details</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="ContactDetails"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="ContactDetailsheading">
                        <div class="card-body">
                            <p>This website is owned and operated by TikTi, Inc. You can contact us by email, telephone, or regular mail using the contact information listed herein.</p>
                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="PrivacyContactsheading">
                        <h4 class="mb-0">
                            <a href="#PrivacyContacts"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Privacy Contacts</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="PrivacyContacts"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="PrivacyContactsheading">
                        <div class="card-body">
                            <p>If at any time you have questions or concerns about this Privacy Policy, please feel free to e-mail us at the appropriate contact relative your jurisdiction:</p>
                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->
                <h6 class="text-center">privacy@tikti.io</h6>
                <h6 class="text-center">(519)-(* * *)-(* * * *)</h6>
            </div><br>


        </section>
    </div><!-- row -->
</div><!-- content container -->
