
@{
    ViewData["Title"] = "TermsOfUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-center P_head">TikTi Terms of Use</h1>
<hr />
<h3 class="text-center P_head">Effective date: July 1, 2020</h3>
<br />
<div class="container">
    <div class="row">
        <section class="col-12">

            <div class="accordion" id="servicesaccordion">
                <div class="card">
                    <div class="card-header" id="Introductionheading">
                        <h4 class="mb-0">
                            <a href="#Introduction"
                               data-toggle="collapse"
                               aria-expanded="true"
                               aria-controls="Introduction">Introduction</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="Introduction"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="Introductionheading">
                        <div class="card-body">
                            <p>The following terms and conditions, together with any documents they expressly incorporate by reference (collectively, these “Terms of Use”), govern your use of services, including any content or functionality offered on or through websites under our control, including tikti.io, the subdomains and subdirectories of each.</p>
                            <p>“You” access our Services as either a Visitor, Job Seeker, or Customer. For purposes of this Terms of Use, you are a Visitor if you are just visiting one of our Services. You are a Job Seeker if you hold an account with one or more of our Services for the purpose of receiving and responding to job solicitations. You are a Customer if you are an employee or agent of an Organization (defined below) with authorization to access one or more of our Services on behalf of a Customer, or you hold an account for one or more Services for purposes of accessing employee portals to manage your relationship with a Customer (i.e. your employer).</p>
                            <p>A “Customer” is defined as an employer or agent of an employer that pays for access to our Services for the purpose of posting job solicitations, recruitment, hiring, onboarding personnel, performance monitoring, training, or other applicable HR services provided by us. If you are a Customer that holds a separately negotiated commercial contract with us that explicitly supersedes or prohibits any end user license or online terms of use, excluding purchases of Add-On Services (see Section 3), the terms and conditions within such commercial contract shall control to the extent of any direct conflict.</p>
                            <p class="text-center font-weight-bolder">Please read the Terms of Use carefully before you start to use the Services.</p>
                        </div>
                    </div><!-- collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="ProvisionofServicesheading">
                        <h4 class="mb-0">
                            <a href="#ProvisionofServices"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Provision of Services</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="ProvisionofServices"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="ProvisionofServicesheading">
                        <div class="card-body">
                            <p>By using the Services, executing a document that references them, or by clicking to accept or agree to the Terms of Use when this option is made available to you, you accept and agree to be bound and abide by these Terms of Use and our Privacy Policy incorporated herein by reference. If you do not want to agree to these Terms of Use or the Privacy Policy, you must not access or use the Services. Also, by agreeing to this Terms of Use you waive, to the extent permitted under applicable law, any rights or legal requirements that require an original (non-electronic) signature or the delivery or retention of non-electronic records in order for a contract to be legally binding. You represent and warrant that you are of legal age to form a binding contract with us and meet all of the foregoing eligibility requirements. If you do not meet all of these requirements, you must not access or use the Services.</p>
                        </div>
                    </div><!-- card collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="AccessingtheServicesandAccountSecurityheading">
                        <h4 class="mb-0">
                            <a href="#AccessingtheServicesandAccountSecurity"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Accessing the Services and Account Security</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="AccessingtheServicesandAccountSecurity"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="AccessingtheServicesandAccountSecurityheading">
                        <div class="card-body">
                            <p>Subject to your compliance with these Terms of Use, we grant you a non-exclusive, limited, revocable, personal, non-transferable license to use the applicable Services. Unless TikTi has entered into a commercial agreement with a Customer permitting you to use the Services for transactions on behalf of another person, you may only use the Services for transactions on your own behalf, and not on behalf of any other person. If you use the Services on behalf of a Customer or natural person, you represent and warrant that you have obtained all required authorizations and consents from the Customer person.</p>
                            <p>We reserve the right to withdraw or amend the Services, and any service or material we provide on the Services, in our sole discretion without notice. We will not be liable if for any reason all or any part of the Services is unavailable at any time or for any period. From time to time, we may restrict access to some parts of the Services, or the entire Services, to Visitors, Job Seekers, or Personnel. You are responsible for ensuring that all persons who access the Services through your account are aware of these Terms of Use and comply with them.</p>
                            <p>To access the Services or some of the resources it offers, you may be asked to provide certain registration details or other information. It is a condition of your use of the Services that all the information you provide on the Services is correct, current, and complete. You agree that all information you provide to register with the Services or otherwise, including but not limited to through the use of any interactive features on the Services, is governed by the TikTi Privacy Policy and you consent to all actions we take with respect to your information consistent with our Privacy Policy.</p>
                            <p>If you choose, or are provided with, a user name, password, or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any other person or entity. You also acknowledge that your account is personal to you and agree not to provide any other person with access to the Services or portions of it using your user name, password, or other security information.</p>
                            <p><strong>You agree to </strong></p>
                            <ul>
                                <li>Notify us immediately of any unauthorized access to or use of your username or password or any other breach of security, investigate such breach or such potential breach.</li>
                                <li>Assist us using commercially reasonable efforts in maintaining confidentiality.</li>
                                <li>assist us as reasonably necessary to enforce our rights and to enable us to comply with any state or federal law requiring the provision of notice of any security breach with respect to any personally identifiable information of the affected or impacted data subjects. You also agree to ensure that you exit from your account at the end of each session. You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information. We have the right to disable any user name, password, or other identifier, whether chosen by you or provided by us, at any time if, in our opinion, you have violated any provision of these Terms of Use.</li>
                            </ul>
                        </div>
                    </div><!-- collapse -->
                </div><!-- card -->

                <div class="card">
                    <div class="card-header" id="Add-OnServicesheading">
                        <h4 class="mb-0">
                            <a href="#Add-OnServices"
                               class="collapsed"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="generalhealth">Add-On Services</a>
                        </h4>
                    </div><!-- card header -->

                    <div id="Add-OnServices"
                         class="collapse text-dark"
                         data-parent="#servicesaccordion"
                         aria-labelledby="Add-OnServicesheading">
                        <div class="card-body">
                            <h5>Payment</h5>
                            <ul>
                                <li style="list-style-type:none;">Generally, you may be required to pay fees to access certain add-on features within the Services (“Add-On Service(s)”). Unless otherwise stated by TikTi, Add-On Services are governed by the TikTi Services Agreement terms most recently published prior to the purchase or renewal of an Add-On Service, as well as these Terms of Use, Service Specifications, and applicable Schedules incorporated therein. Where the terms of this Section (Add-On Services; Payment) conflict with the TikTi Services Agreement, this Section shall control. Add-On Services may only be available through one or more of our Services and Add-On Services may not be available for all End Users or Customers.</li>
                                    <br/>
                                    <li>
                                        <h6>Payment Authorization</h6>
                                        <ul>
                                            <li style="list-style-type:none;">You agree to pay to TikTi any fees for each Add-On Service you purchase in accordance with the pricing and payment terms presented to you for that Add-On Service. All Add-On Service fees are non-refundable. If TikTi changes the fees for all or part of the Services, including by adding fees or charges, TikTi will provide you notice of those changes. If you do not accept the changes, TikTi may discontinue providing the applicable part of the Services to you.</li>
                                        </ul>
                                        <br />
                                    </li>
                                <li>
                                    <h6>Payment Meathods</h6>
                                    <ul>
                                        <li><strong>Debit/Credit Cards</strong>
                                            <ul>
                                                <li style="list-style-type:none;">
                                                    By providing debit or credit card account information through or to the Services, you represent, warrant, and covenant that:
                                                    <ul>
                                                        <li>you are legally authorized to provide such information to us.</li>
                                                        <li>you are legally authorized to perform payments from the debit or credit card account(s).</li>
                                                        <li>the credit card information you provide is correct and you will promptly notify TikTi of any changes to such information, and </li>
                                                        <li>such action does not violate the terms and conditions applicable to your use of such debit or credit card account(s) or applicable law. When you authorize a payment using a debit or credit card account via the Services, you represent, warrant, and covenant that there are sufficient funds or credit available to complete a payment using the debit or credit card account. TikTi’s authorized third-party payment processor will charge the payment method you specified at the time of purchase. You authorize TikTi to charge all fees as described in these Terms of Use for the Services you select to that payment method, and you authorize our third-party payment processor to use information you provide to process payments, manage debit and credit card information and detect and prevent fraud.</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <br />
                                        </li>
                                        <li><strong>Alternate Payment</strong>
                                            <ul>
                                                <li style="list-style-type:none;">
                                                    In lieu of purchasing Add-On Services via Debit or Credit card, TikTi may provide you the option to receive a bill or invoice for payment by alternate means. TikTi may align a billing or invoice term with one of your other active Services. Should you elect to receive a bill or invoice for Add-On Service payments, Add-On Service Fees are due net thirty (30) from receipt of TikTi bill or invoice.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <br />
                                </li>
                            </ul>
                            <h5>Subscriptions</h5>
                            <ul>
                                <li style="list-style-type:none;">
                                    The Add-On Services may include features that allow for automatically recurring payments for periodic charges (“Add-On Subscription”). Unless otherwise agreed by TIKTI, Add-On Subscriptions will be billed in advance on an annual recurring, periodic basis. TIKTI may also provide pro-rated pricing terms and align Add-On Subscription invoice or billing with SaaS Subscriptions. If you decide to activate an Add-On Subscription, you authorize TIKTI to periodically charge, on a going-forward basis and until cancellation of the recurring payments, all accrued sums on or before the payment due date for the accrued sums. The Add-On Service Subscription Term is a continuous and non-divisible commitment for the full duration of the term regardless of any invoice schedule. The Subscription will commence upon the date you activate or use the Add-On Service. The Subscription will continue unless and until you cancel your Subscription, or we terminate it. You must cancel your Add-On Subscription before it renews in order to avoid billing of the next periodic subscription fee to your account. We will bill the periodic Subscription Fee to the payment method you provide to us during registration (or to a different payment method if you change your payment information). TIKTI may change the Subscription Fee for any subsequent Subscription period but will provide you notice of any increase before it applies. Unless otherwise stated in a commercial agreement we negotiated with a Customer, you may cancel an Add-On Subscription by contacting us at: customersupport@tikti.io, or alternative means expressly presented to you within the Services. You may cancel auto-renewal on your Add-On Service Subscription at any time, in which case your Add-On Service Subscription will continue until the end of that billing cycle before terminating.
                                </li>
                            </ul>
                        </div>
                    </div><!-- collapse -->
                </div><!-- card -->
                <h6 class="text-center">privacy@tikti.io</h6>
                <h6 class="text-center">(519)-(* * *)-(* * * *)</h6>
            </div><br>


        </section>
    </div><!-- row -->
</div><!-- content container -->
