@model Tikti.Models.AlternativeWorkLocation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}
<hr />
@*<div class="row">*@
    <div class="col-md-4 align-content-center" style="margin:auto">
        <div class="row">
            <h1>Alternative Work Location</h1>
        </div>
        <hr />
        <a class="float-right" asp-action="Create" asp-controller="RoleCulture">Skip this step</a>
        <br />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h6>
                    <label asp-for="City" class="control-label">City</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="Province" class="control-label">Province/State</label>
                    <input asp-for="Province" class="form-control" />
                    <span asp-validation-for="Province" class="text-danger"></span>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="Postal" class="control-label">Postal</label>
                    <input asp-for="Postal" class="form-control" />
                    <span asp-validation-for="Postal" class="text-danger"></span>
                </h6>
            </div>
            <div class="row no_margin">
                <div class="form-group">
                    <input type="submit" value="Save & Add Another" class="btn btn-primary" asp-route-value="add" />
                    <input type="submit" value="Save & Next" class="btn btn-primary" asp-route-value="next" />
                </div>
            </div>
        </form>
    </div>
@*</div>*@



