@{
    Layout = "~/Views/Shared/LoggedIn.cshtml";
}
<hr />
<h1 class="text-center" style="text-shadow: 2px 2px 2px #c9e8a0">Job opportunity uploaded successfully</h1>
<hr />
<br />
<h4 class="text-center text-uppercase"><a asp-controller="SocCode" asp-action="Create">Upload Another Role Opportunity</a></h4>