@model Tikti.Models.RoleOpportunity

@{
    ViewData["Title"] = "Upload Role Opportunity";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}

<hr />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row no_margin">
        <div class="col-md-3" style="margin:auto; padding-top:2rem">
            <h1 class="text-center" style="font-weight:500; font-variant:small-caps; font-size:3.5rem">
            "Upload the Role Opportunity"</h1>
        </div>

        <div class="col-md-3" style="margin:auto; padding-top:2rem">
            <div class="form-group">
                <h6>
                    <label asp-for="AlternateTitle" class="control-label">Alternate Title</label>
                    <select asp-for="AlternateTitleId" class="form-control" asp-items="ViewBag.AlternateTitle"></select>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="JobDescription" class="control-label">Job Description</label>
                    <input asp-for="JobDescription" style="border:1px solid #ced4da; border-radius:0.25rem" class="form-control-file" name="files" type="file" />
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="HiringManagerId" class="control-label">Hiring Manager</label>
                    <select asp-for="HiringManagerId" class="form-control" asp-items="ViewBag.HiringManager"></select>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="DesiredStartDate" class="control-label">Desired Start Date:</label>
                    <input type="date" asp-for="DesiredStartDate" class="form-control" />
                    <span asp-validation-for="DesiredStartDate" class="text-danger"></span>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="WorkCommitment" class="control-label">Work Commitment:</label>
                    <select asp-for="WorkCommitment" class="form-control" asp-items="ViewBag.WorkCommitment" id="wk"></select>
                </h6>
            </div>
            <div class="form-group" id="cd">
                <h6>
                    <label asp-for="ContractDuration" class="control-label">Contract Duration(If Applicable):</label>
                    <input asp-for="ContractDuration" class="form-control" />
                    <span asp-validation-for="ContractDuration" class="text-danger"></span>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="Currency" class="control-label">Currency Selection:</label>
                    <select asp-for="Currency" class="form-control" asp-items="ViewBag.Currency"></select>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="Salary" class="control-label">Salary For Position:</label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="City" class="control-label">Work Location(City)</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </h6>
            </div>
        </div>
        <div class="col-md-3" style="margin:auto; padding-top:2rem">
            <div class="form-group">
                <h6>
                    <label asp-for="Province" class="control-label">Work Location(Province/State)</label>
                    <input asp-for="Province" class="form-control" />
                    <span asp-validation-for="Province" class="text-danger"></span>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="Postal" class="control-label">Work Location(Postal Code)</label>
                    <input asp-for="Postal" class="form-control" />
                    <span asp-validation-for="Postal" class="text-danger"></span>
                </h6>
            </div><br />
            <div class="form-group form-check">
                <h6>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="TelecommutingRoles" /> @Html.DisplayNameFor(model => model.TelecommutingRoles)
                    </label>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="Weblink" class="control-label">Organization Link</label>
                    <input asp-for="Weblink" class="form-control" />
                    <span asp-validation-for="Weblink" class="text-danger"></span>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="Certification" class="control-label">Certification Required</label>
                    <select asp-for="Certification" class="form-control" asp-items="ViewBag.Certification"></select>
                </h6>
            </div><br />
            <div class="form-group form-check">
                <h6>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ExtraCertificationRequired" /> @Html.DisplayNameFor(model => model.ExtraCertificationRequired)
                    </label>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="ExtraCertification" class="control-label">Names of Extra Certification</label>
                    <input asp-for="ExtraCertification" class="form-control" />
                    <span asp-validation-for="ExtraCertification" class="text-danger"></span>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="Experience" class="control-label">Desired Experience</label>
                    <select asp-for="Experience" class="form-control" asp-items="ViewBag.Experience"></select>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="Education" class="control-label">Desired Education</label>
                    <select asp-for="Education" class="form-control" asp-items="ViewBag.Education"></select>
                </h6>
            </div>
            <div class="form-group">
                <h6>
                    <label asp-for="OtherRequirents" class="control-label">Other Requirements</label>
                    <select asp-for="OtherRequirents" class="form-control" asp-items="ViewBag.OtherRequirents"></select>
                </h6>
            </div>
        </div>
        @*<div class="form-group">
                <input type="submit" value="Next Fields" class="btn btn-primary" />
            </div>*@
    </div>
    <div class="row no_margin">
        <div class="col-md-3 text-center" style="padding-left:7rem">
            <input type="submit" value="Next Step" class="btn btn-primary btn-lg" />
        </div>
    </div>
</form>
    @*</div>*@
@*</div>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () {
    $('#wk').on('change', function () {
        if (this.value == '3' || this.value == '4')
        {
            $("#cd").show();
        }
        else
        {
            $("#cd").hide();
        }
    });
    });
</script>
}
