@model Tikti.Models.OrgRegistration

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}

<div class="Org_reg_col_container">
    <div class="Org_reg_col_col1">
        <div class="row">
            <div class="col-sm-7 col-md-10 mx-auto">
                <h1 class="font-weight-bolder text-center" style="color:#c9e8a0; text-shadow: 2px 2px 5px black;">Organization Registration</h1>
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OrganizationName" class="control-label"></label>
                        <input asp-for="OrganizationName" class="form-control" />
                        <span asp-validation-for="OrganizationName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Pwd" class="control-label"></label>
                        <input asp-for="Pwd" class="form-control" />
                        <span asp-validation-for="Pwd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactFirstName" class="control-label"></label>
                        <input asp-for="ContactFirstName" class="form-control" />
                        <span asp-validation-for="ContactFirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactLastName" class="control-label"></label>
                        <input asp-for="ContactLastName" class="form-control" />
                        <span asp-validation-for="ContactLastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactTitle" class="control-label"></label>
                        <input asp-for="ContactTitle" class="form-control" />
                        <span asp-validation-for="ContactTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactPhoneNumber" class="control-label"></label>
                        <input asp-for="ContactPhoneNumber" class="form-control" />
                        <span asp-validation-for="ContactPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Department" class="control-label"></label>
                        <input asp-for="Department" class="form-control" />
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                    <div class="custom-checkbox">
                        <label asp-for="DifferentHr" class="control-label"> Do you want to add Hiring Manager information?</label>
                        <input type="checkbox" asp-for="DifferentHr" id="DiffHr" />
                        <span asp-validation-for="DifferentHr" class="text-danger"></span>
                    </div>
                    <div id="ShowHide">
                        <div class="form-group">
                            <label asp-for="HrFirstName" class="control-label"></label>
                            <input asp-for="HrFirstName" class="form-control" />
                            <span asp-validation-for="HrFirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HrLastName" class="control-label"></label>
                            <input asp-for="HrLastName" class="form-control" />
                            <span asp-validation-for="HrLastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HrTitle" class="control-label"></label>
                            <input asp-for="HrTitle" class="form-control" />
                            <span asp-validation-for="HrTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HrDepartment" class="control-label"></label>
                            <input asp-for="HrDepartment" class="form-control" />
                            <span asp-validation-for="HrDepartment" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HrPhoneNumber" class="control-label"></label>
                            <input asp-for="HrPhoneNumber" class="form-control" />
                            <span asp-validation-for="HrPhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HrEmail" class="control-label"></label>
                            <input asp-for="HrEmail" class="form-control" />
                            <span asp-validation-for="HrEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                    <div class="row">
                        <a asp-action="Login" class="font-weight-bolder">Already a User? Login Here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="Org_reg_col_col2 container">
        <div class="row">
            <div class="col text-center img-fluid img-thumbnail org_reg_logo_margin">
                <img src="~/Images/Logo/TikTi_LogoPMS.jpg" alt="TikTi Logo" height="100" />
            </div>
        </div>
        <div class="flip-box" style="margin:2.5rem">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <h2 class="text-center">TikTi dramatically reduces time to hire</h2>
                </div>
                <div class="flip-box-back">
                    <h2>TikTi means Fit, match, go together</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row col-md-6 offset-2">
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(function () {
        $("#DiffHr").click(function () {
            if ($(this).is(":checked")) {
                $("#ShowHide").show();
            } else {
                $("#ShowHide").hide();
            }
        });
    });
    window.onload = function () { $("#ShowHide").hide();};
</script>
}
